@import url(./footer.css);
@import url(../css/header.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

.work {
    background: #F3F3F3;
    height: 100%;
    height: 100%;
}

.work__main-page {
    padding-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;

}

.orange__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    background: #FCB427;
    width: 203px;
    height: 46px;
}

.work__obj-page {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #898989;
}

.all_header {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 141.69%;
    color: #2D2D2D;
}

.text__block {

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 141.69%;
    color: #FFFFFF;
}

.all_cards {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.work__all {
    margin-top: 63px;
}

.arends {
    margin-top: 16px;
    margin-left: 30px;
    width: 288px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 142.19%;
    color: #2D2D2D;
}

.all_cards_card {
    background: #FFFFFF;
    width: 370px;
    height: 689px;

    margin-bottom: 30px;
}

.card_description {
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #2D2D2D;
    width: 288px;
    margin-left: 30px;
}

.all_cards_see-more {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 141.69%;
    color: #2D2D2D;
    width: 219px;
    height: 50px;
    border: 1px solid #FCB427;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all_cards_button {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

.work__header_description {
    margin-top: 120px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 141.69%;
    color: #000000;
}

.header-description_explanation {
    margin-top: 35px;
    padding-bottom: 120px;
}

.explanation {
    padding-bottom: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #000000;
}