*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.menu__wrapper {
    position: relative;
    width: 193px;
    height: 2px;
    border-radius: 10px;

}

.menu__container {
    position: relative;
    width: 100%;
    height: 84px;
    margin-top: 15px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.menu__slider-track {
    width: 100%;
    height: 2px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #FCB427;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 19px;
    height: 6px;
    cursor: pointer;
    background-color: #FCB427;
    pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 19px;
    height: 6px;
    cursor: pointer;
    background-color: #FCB427;
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    width: 19px;
    height: 6px;
    cursor: pointer;
    background-color: #FCB427;
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #FCB427;
}

.menu__values {
    padding-left: 8px;
    margin-top: 19px;
    box-sizing: border-box;
    position: absolute;
    width: 84px;
    height: 22px;
    border: 1px solid #535554;
    display: flex;
}

.menu__values:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}

.menu__values-two {
    padding-left: 8px;
    margin-top: 19px;
    box-sizing: border-box;
    position: absolute;
    width: 84px;
    height: 22px;
    border: 1px solid #535554;
    display: flex;
    margin-left: 109px;
}

.menu__wrapper_margin {
    margin-top: 110px;
}

.menu__slider-track-two {
    width: 100%;
    height: 2px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #FCB427;
}

.help__input {
    width: 348px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #535554;
    padding-left: 20px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142.19%;
    color: #C4C4C4;
}

::placeholder {
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #8C8A8A;
}

.contacts__name {
    width: 441px;
    height: 50px;
    background: #F9F9F9;
    border: 1px solid #B0B0B0;
    padding-left: 27px;
}

.contacts__inp-text {
    width: 199px;
    height: 50px;
    background: #F9F9F9;
    border: 1px solid #B0B0B0;
    padding-left: 27px;
}

.contacts__message textarea {
    box-sizing: border-box;
    width: 470px;
    height: 139px;
    padding-left: 28px;
    padding-top: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #8C8A8A;
    background: #F9F9F9;
    border: 1px solid #B0B0B0;
    resize: none;
    margin-top: 20px;
}

.contacts__name ::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #8C8A8A;
}

input[type='text'] {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #000000;
}

.input[type='number'] {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #000000; 
 
   
}
input[type='email'] {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #000000;
    
}


.contacts__custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.contacts__custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.contacts__custom-checkbox+label::before {
    content: '';
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 2px;
    border: 1px solid #535554;
    border-radius: 2px;
}

.contacts__custom-checkbox:checked+label::before {
    background-image: url(../icons/menu/1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.contacts__checkbox-text-decor {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 120%;
    color: #2D2D2D;
    margin-left: 10px;
}
.contacts__checkbox-a-decor{
    text-decoration: underline;
    color: #2D2D2D;
}

.contacts__checkbox {
    justify-content: center;
    margin-top: 15px;
    align-items: center;
}

.contacts__decor-up {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 142.19%;
    color: #2D2D2D;
}

.contacts__inp-text_margin{
margin-left: 14px;
}




.help__custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.help__custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    opacity: 0;
}

.help__custom-checkbox+label::before {
    content: '';
    box-sizing: border-box;
    width: 27px;
    height: 18px;
    left: 0px;
    top: 2px;
    border: 1px solid #535554;
    border-radius: 2px;
    opacity: 0;
}

.help__custom-checkbox:checked+label::before {
    background-image: url(../icons/menu/1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    opacity: 0;
}

.help__checkbox-text-decor {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 120%;
    color: #2D2D2D;
    margin-left: 10px;
    opacity: 0;
}
.help__checkbox-a-decor{
    text-decoration: underline;
    color: #2D2D2D;
    opacity: 0;
}

.help__checkbox {
    justify-content: center;
    margin-top: 15px;
    align-items: center;
    opacity: 0;
}

.help__decor-up {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 142.19%;
    color: #2D2D2D;
    opacity: 0;
}

.help__inp-text_margin{
margin-left: 14px;
}
.heading__main_none{
    display: none;
}
