.container {
    margin: 0 auto;
    max-width: 1290px;
}

.hight-block {
    width: 100%;
    height: 95px;
    background: #2D2D2D;

}

.flex-between {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.hight-block_logo-text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 321px;
}

.hight-block_company-logo {
    width: 126.11px;
    height: 53.28px;
}

.hight-block_company-description {
    width: 167px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.19%;
    color: #FFFFFF;
}

.hight-block_address-time {
    display: flex;
    align-items: center;
}

.hight-block_company-data {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.19%;
    color: #FFFFFF;
}

.hight-block_company-place {
    width: 144px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142.19%;
    color: #FFFFFF;
}

.hight-block_time {
    display: flex;
    align-items: center;
}

.hight-block_adress {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.hight-block_icons {
    width: 15px;
    height: 21px;
    padding-right: 10px;
}


.description-width {
    width: 144px;
}

.hight-block_button {
    border: 1px solid #FFBF1D;
    width: 205px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hight-block_text-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 141.69%;
    color: #FFFFFF;
}

.hight-block_telephone {
    display: flex;
    align-items: center
}

.hight-block_icon-telephone {
    width: 21px;
    height: 21px;
    padding-right: 12px;
}

.hight-block_telephone-numbers {
    width: 145px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.69%;

}

.down-block {
    width: 100%;
    height: 76px;
    background: #F3F3F3;
    display: flex;
    align-items: center;
}

.flex-down-nav {
    display: flex;
    
}

.down-block_nav {
    display: flex;
    padding-right: 250px;
}

.down-block_headings {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.69%;
    color: #000000;
    padding-right: 30px;
}

.down-block_search {
    border: 1px solid rgba(45, 45, 45, 0.6);
    width: 270px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F3F3F3;
    padding-left: 5px;
    padding-right: 10px;
}
.down-blcok_search-in-site{
    offset: 0;
    outline: 0;
    border: 0;
    background-color: #F3F3F3;
    width: 100%;
    height: 100%;
}
.down-blcok_search-in-site:focus{
    offset: 0;
    outline: 0;
    border: 0px solid transparent;
}