@media (max-width:800px) and (min-width:321px) {
    .cats__main {
        background: none;
    }

    .slider__main {
        content: url(../img/cran-adapt.png);
    }

    .slider__list {
        width: 354px;
        height: 344.23px;
        overflow: hidden;
    }

    .slider__img {
        content: url(../img/cran-adapt-mini.png);
    }

    .slider__img_left {
        margin-left: 0;
    }

    .slider__imgs {
        width: 354px;
        display: flex;
        justify-content: space-between;
    }

    .container {
        max-width: 734px;
    }

    .tabs__item-img-decor-one {
        content: url(../img/1\ adapt.png);
    }

    .tabs__item-img-decor-two {
        content: url(../img/2\ adapt.png);
    }

    .tabs__item-img-decor-three {
        content: url(../img/3\ adapt.png);
    }

    .tabs__item-img {
        flex-wrap: wrap;
    }

    .tabs__item-img-decor-three_margin {
        margin-top: 27px;
    }

    .tabs__card_none {
        display: none;
    }

    .tabs__flex {
        display: flex;
        justify-content: space-evenly;
    }

    .contacts__input-name {
        width: 370px;
        height: 50px;
    }

    .contacts__input-number {
        width: 370px;
        height: 50px;
    }

    .contacts__btn {
        width: 370px;
        height: 50px;
    }

    .contacts__block {

        height: 567px;
    }
    .container__flex-one {
        flex-direction: column;

    }
    .contacts {
        margin-top: 120px;
        background-image: url(../img/back-adapt.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 567px;
    }
    .contacts__title {
        margin-left: 95px;
        }
        .contacts__input-number{
            margin-top: 30px;
        }
        .contacts__btn_marign{
            margin-top: 30px;
        }
        
       
}