
@import url(./blog_page.css);
@import url(../css/header.css);
@import url(./footer.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}


