* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1169px;
    margin: 0 auto;

}

.company {
    display: flex;
}

.company__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 156.69%;
}

.company__text_color {
    color: #898989;
}

.liebherr__text-color-size {
    margin-top: 30px;
}

.rent__autocran_color-size {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 141.69%;
    color: #2D2D2D;

}

.rent__autocran_margin {
    margin-top: 57px;
}

.liebherr__text-color-size {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #2D2D2D;
}

.img-flex {
    margin-top: 25px;
    display: flex;
}


.mr-photo-two {
    margin-left: 33px;
}

.conditions__rent_margin {
    margin-top: 50px;
}

.other__articles_margin {
    margin-top: 120px;
}

.slider-js__image_margin {
    margin-top: 100px;
}

button {
    background: none;
    border: #F3F3F3;
    border-radius: 4px;
    padding: 10 20px;
    font-size: .9rem;
}



button:active {
    color: #fff;
}

.slider__js {
    width: 1170px;
    height: 1110px;

    overflow: hidden;
}

.slider-line {

    overflow: hidden;
    position: relative;
    left: 0;
    display: flex;
    width: 2200px;

    transition: all ease 1s;
}

.slider__photo {
    width: 370px;
    height: 365px;
    margin-right: 32px;
}

.button__photo_margin {
    margin-left: 1050px;
    margin-top: 52px;
}

.slider__js_margin {
    margin-top: 41px;
}

.conditions__rent-two {
    display: none;
}

.img-text {

    display: flex;
    flex-direction: column
}

.features-two {
    display: none;
}

.text {
    margin-top: 16px;
    margin-left: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 142.19%;
    color: #2D2D2D;
}

.text-block {
    display: flex;
    flex-direction: column;

    width: 395px;
}

.text-two {
    width: 288px;

    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #2D2D2D;
}

.orange-block {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 43px;
    background: #FCB427;
}

.orange-block-text {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 141.69%;
    color: #FFFFFF;
}

.under-rent__text-two {
    display: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    color: #2D2D2D;
}

.liebherr__text-color-size-two {
    display: none;
    margin-top: 30px;
    margin-left: 18px;
}

.rent__autocran_color-size-two {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 141.69%;
    color: #2D2D2D;
    display: none;
}

.conditions__rent_margin-two {
    margin-top: 50px;
    margin-left: 18px;
    display: none;
}

@media (max-width: 780px) {
    .features {
        display: none;
    }

    .rent__autocran_color-size {
        display: none;
    }

    .conditions__rent_margin {
        display: none;
    }

    .features-two {
        display: block;
    }

    .rent__autocran_color-size-two {
        display: block;
    }

    .conditions__rent_margin-two {
        display: block;
    }

    .under-rent__text {
        display: none;

    }

    .liebherr__text-color-size {
        display: none;
    }

    .under-rent__text-two {
        display: block;
    }

    .liebherr__text-color-size-two {
        display: block;
    }

    .rent__autocran {
        margin-left: 18px;
    }

    .liebherr__text {
        margin-left: 18px;
    }

    .mr-photo {
        margin-left: 100px;
        width: 572px;
        height: 493px;
    }

    .conditions__rent-two {
        display: block;
    }

    .mr-photo-two {
        margin-left: 100px;
        margin-top: 22px;
        width: 572px;
        height: 493px;
    }

    .img-flex {
        display: flex;
        flex-direction: column;

    }

    .conditions__rent_margin {
        margin-top: 50px;
        margin-left: 18px;
    }

    .liebherr__text-color-size {
        margin-left: 18px;
    }

    .other__articles_margin {
        margin-left: 18px;
    }

    .slider__js {
        width: 780px;
        height: 1110px;

        overflow: hidden;
    }

    .button__photo_margin {
        margin-left: 10px;
        margin-top: 52px;
    }
}

@media (max-width: 320px) {
    .rent__autocran_color-size-two {
        margin-left: 15px;
    }

    .mr-photo {
        margin-left: 15px;
        width: 292px;
        height: 251px;
    }

    .mr-photo-two {
        margin-left: 15px;
        width: 292px;
        height: 251px;
    }

    .slider__photo {
        margin-top: 20px;
        width: 320px;
        height: 283px;
    }

    .slider-line {
        display: flex;
        flex-direction: column;
        height: 2000px;
        width: 320px;
    }

    .text-block {
        width: 320px;
    }

    .img-text {
        width: 320px;
    }

    .liebherr__text-color-size {
        margin-left: 3px;
        margin-top: 174px;
    }

    .slider__js {
        width: 320px;
    }
}